.error{
    background-color: rgb(251, 174,  174);
    border: 1px solid red;
}


.hide {
    display: none;
}
body {
    background: url('img/grooming-lp-by-appointment-bath-and-haircut-img-1000x667.avif') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container {
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #333;
}
.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    margin-top: auto;
}